@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.nuget.org/packages?q=scgraphtheory"><img src="img/NuGet_project_logo.svg" alt="NuGet packages (SCGraphTheory)" style="width:32px;height:32px;" /></a>
            <a href="https://github.com/sdcondon?tab=repositories&q=SCGraphTheory"><img src="img/GitHub-Mark-32px.png" alt="GitHub Repositories (SCGraphTheory)" /></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
