<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid ps-2 dropdown">
        <a class="navbar-brand dropdown-toggle" href="" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false"><img src="img/SCGraphTheoryIcon-32.png" alt="SCGraphTheory icon" /> SCGraphTheory</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown01">
            <li><a class="dropdown-item" href="https://sdcondon.net/FlUnit">FlUnit</a></li>
            <li><a class="dropdown-item" href="https://sdcondon.net/SCClassicalPlanning">SCClassicalPlanning</a></li>
            <li><a class="dropdown-item" href="https://sdcondon.net/SCFirstOrderLogic">SCFirstOrderLogic</a></li>
            <li><a class="dropdown-item" href="https://sdcondon.net/SCSetTrie">SCSetTrie</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="https://sdcondon.net/">Personal Homepage</a></li>
        </ul>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item ps-1">
            <NavLink class="nav-link ps-2" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item ps-1">
            <NavLink class="nav-link ps-2" href="abstractions">
                <span class="bi bi-box" aria-hidden="true"></span> Abstractions
            </NavLink>
        </div>
        <div class="nav-item ps-1">
            <NavLink class="nav-link ps-2" href="search">
                <span class="bi bi-box" aria-hidden="true"></span> Search
            </NavLink>
        </div>
        <div class="nav-item ps-1">
            <NavLink class="nav-link ps-2" href="adjacency-list">
                <span class="bi bi-box" aria-hidden="true"></span> Adjacency List
            </NavLink>
        </div>
        <div class="nav-item ps-1">
            <NavLink class="nav-link ps-2" href="lab">
                <span class="bi bi-tools" aria-hidden="true"></span> Lab
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
