@page "/lab"

<h2>Lab</h2>

<p>This page serves as an index for interactive demos and tools.</p>

<ul>
    <li><a href="lab/classic-search-visualiser">Classic Search Visualiser</a>: A visual demonstration of some of the "classic" search types to be found in the 'SCGraphTheory.Search' package.</li>
</ul>
