@page "/lab"

<h2>Lab</h2>

<p>This page serves as an index for interactive demos and tools.</p>

<ul>
    <li><a href="lab/search-visualiser">Search Visualiser</a>: A visual demonstration of the search types to be found in the 'SCGraphTheory.Search' package.</li>
</ul>
